<div class="col-xs-12 bordered rounded mb-4">
    <div class="px-2 py-2">

        {# FIRST BLOCK #}
        <div class="row bg-success mb-1">
            <div class="col-xs-12 blockHeader">
                <h3 class="display-inline"><b>FOKKER</b></h3>
            </div>
        </div>
        <div class="row bg-white-stripe mb-1">
            <div class="col-xs-4 fieldName">Naam</div>
            <div class="col-xs-8 fieldValue">{{ certificate.breederName }}</div>
        </div>
        <div class="row bg-white-stripe mb-1">
            <div class="col-xs-4 fieldName">Adres</div>
            <div class="col-xs-8 fieldValue">{{ certificate.addressBreeder.streetName~' '~certificate.addressBreeder.addressNumber~' '~certificate.addressBreeder.addressNumberSuffix }}</div>
        </div>
        <div class="row bg-white-stripe mb-1">
            <div class="col-xs-4 fieldName">Woonplaats</div>
            <div class="col-xs-8 fieldValue">{{ certificate.addressBreeder.city }}</div>
        </div>

        <div class="row bg-white-stripe mb-1">
            <div class="col-xs-4 fieldName">Email</div>
            <div class="col-xs-8 fieldValue">{{ certificate.breederEmailAddress }}</div>
        </div>
        <div class="row bg-white-stripe mb-4">
            <div class="col-xs-4 fieldName">UBN</div>
            {# BESTAAT NIET #}
            <div class="col-xs-8 fieldValue">{{ certificate.breederEmailAddress }}</div>
        </div>

        {# SECOND BLOCK #}
        <div class="row bg-success mb-1">
            <div class="col-xs-12 blockHeader">
                <h3 class="display-inline"><b>EIGENAAR</b></h3>
            </div>
        </div>
        <div class="row bg-white-stripe mb-1">
            <div class="col-xs-4 fieldName">Naam</div>
            <div class="col-xs-8 fieldValue">{{ certificate.ownerName }}</div>
        </div>
        <div class="row bg-white-stripe mb-1">
            <div class="col-xs-4 fieldName">Adres</div>
            <div class="col-xs-8 fieldValue">{{ certificate.address.streetName~' '~certificate.addressBreeder.addressNumber~' '~certificate.addressBreeder.addressNumberSuffix }}</div>
        </div>
        <div class="row bg-white-stripe mb-1">
            <div class="col-xs-4 fieldName">Woonplaats</div>
            <div class="col-xs-8 fieldValue">{{ certificate.address.city }}</div>
        </div>

        <div class="row bg-white-stripe mb-1">
            <div class="col-xs-4 fieldName">Email</div>
            <div class="col-xs-8 fieldValue">{{ certificate.ownerEmailAddress }}</div>
        </div>
        <div class="row bg-white-stripe mb-1">
            <div class="col-xs-4 fieldName">UBN</div>
            <div class="col-xs-8 fieldValue">{{ certificate.ubn }}</div>
        </div>
    </div>
</div>