<h3>Contactformulier: {{ category }} - {{ mood }}</h3>

<ul>
    <li>Verstuurd door: {{ firstName }} {{ lastName }}</li>
    <li>Relatienummerhouder: {{ relationNumberKeeper }}</li>
    <li>Verstuurd van: {{ emailAddressUser }}</li>
    <li>Categorie: {{ category }}</li>
    <li>Gemoedstoestand: {{ mood }}</li>
</ul>

----------------

<p>Het verstuurde bericht: </p>

<p>{{ body }}</p>