<h3>Contact formulier naar NSFO</h3>

<ul>
    <li>Verstuurd door: {{ firstName }} {{ lastName }}</li>
    <li>Relatienummerhouder: {{ relationNumberKeeper }}</li>
    <li>Verstuurd van: {{ emailAddressUser }}</li>
    <li>Categorie: {{ category }}</li>
    <li>Gemoedstoestand: {{ mood }}</li>
</ul>

<p>Geachte Heer/Mevrouw {{ lastName }},

<p>Uw email is zojuist verstuurd.</p>

<p> Hartelijk dank voor uw feedback.
    We stellen het zeer op prijs en zullen zo spoedig mogelijk op uw email reageren.</p>

<p>Met vriendelijke groet,</p>

<p>X</p>


<i>Dit is een automatisch verzonden bericht.</i>

<p>Hieronder is uw verzonden email: </p>

-------------------------------

{{ body }}



