<h3>Contact formulier naar NSFO</h3>

<p>Uw heeft zojuist via de website een email gestuurd naar NSFO.</p>

<ul>
    <li>Verstuurd door: {{ firstName }} {{ lastName }}</li>
    <li>Relatienummerhouder: {{ relationNumberKeeper }}</li>
    <li>Verstuurd van: {{ emailAddressUser }}</li>
    <li>Categorie: {{ category }}</li>
    <li>Gemoedstoestand: {{ mood }}</li>
</ul>

<i>Dit is een automatisch verzonden bericht.</i>


<p>Hieronder is uw verzonden email: </p>

<p>-------------------------------</p>

<p>{{ body }}</p>



