{# TREATMENT INFO #}
<div class="row">

    <div class="col-xs-12 p-2 bordered {{ showBorderTop ? '' : 'border-top-0' }}">
        {# TITLE #}
        <div class="row">
            <div class="col-xs-12 py-1">
                <h2 class="display-inline"><ins><b>Behandelingsgegevens</b></ins></h2>
            </div>
        </div>

{#        <div class="row">#}
{#            <div class="col-xs-12">#}
{#                <div class="row">#}
{#                    <div class="col-xs-12">#}

{#                        #}{# JUST TO GENERATE FIRST THEAD WITH PHONY TBODY #}
{#                        <table class="w-100 border-0 px-0 py-0 mb-1">#}
{#                            <thead>#}

{#                                <tr>#}
{#                                    <td>Datum</td>#}
{#                                    <td>Behandeling</td>#}
{#                                    <td>Middel</td>#}
{#                                </tr>#}
{#                            </thead>#}

{#                            <tbody>#}
{#                                {% for treatment in animal.treatments|slice(offset, limit) %}#}

{#                                    {% set isFirstRow = true %}#}

{#                                    {% for medication in treatment.medications %}#}

{#                                        <tr class="height-0 text-nowrap">#}
{#                                            {% if isFirstRow  %}#}
{#                                                <td>{{ treatment.date }}</td>#}
{#                                                <td>{{ treatment.description }}</td>#}
{#                                            {%  else %}#}
{#                                                <td></td>#}
{#                                                <td></td>#}
{#                                            {% endif %}#}
{#                                            <td>{{ medication }}</td>#}
{#                                        </tr>#}

{#                                        {% set isFirstRow = false %}#}

{#                                    {% endfor %}#}


{#                                {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


    <div class="col-xs-12 p-2 border-top-0">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                          {# HIDDEN THEAD WITH REAL TBODY #}
                        <table class="w-100 border-0 px-0 py-0 mb-1">
                            <thead style="border-bottom-color: black;
                                          border-bottom-style: solid;
                                          border-bottom-width: thin;">
                            <tr>
                                <td>Datum</td>
                                <td>Behandeling</td>
                                <td>Middel</td>
                            </tr>
                            </thead>

                            <tbody>
                            {% for treatment in animal.treatments|slice(offset, limit) %}

                                {% set isFirstRow = true %}

                                {% for medication in treatment.medications %}

                                    <tr class="text-nowrap">
                                        {% if isFirstRow  %}
                                            <td style="width: 200px;">{{ treatment.date }}</td>
                                            <td>{{ treatment.description }}</td>
                                        {% else %}
                                            <td></td>
                                            <td></td>
                                        {% endif %}
                                        <td>{{ medication }}</td>
                                    </tr>

                                    {% set isFirstRow = false %}

                                {% endfor %}


                            {% endfor %}
                            </tbody>
                        </table>

                </div>
            </div>
        </div>
    </div>

</div>
