<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .green-divider {
            color: #3ec140;
        }

        .contact-info-text {
            width: 100%;
            display: block;
            color: #626262;
            padding: 0 40px 0 40px;
            text-align: center;
            font-size: 8px;
        }
        .bottom-margin {
            margin: 0 0 20px 0;
        }
    </style>
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>
<span class="contact-info-text">
    {{ details.name }} <span class="green-divider">|</span> Postbus 160 <span class="green-divider">|</span> {{ details.address.postalCode }} {{ details.address.city }} <span class="green-divider">|</span>  Telefoon:0418-561712 <span class="green-divider">|</span> Fax:0418-561194 <span class="green-divider">|</span> Email:kantoor@nsfo.nl <span class="green-divider">|</span> Internet: www.nsfo-online.nl
</span>
<span class="contact-info-text bottom-margin">
Rabobank 32.80.03.085 <span class="green-divider">|</span> K.v.K. {{ details.chamberOfCommerceNumber }} <span class="green-divider">|</span> BIC RABONL2U <span class="green-divider">|</span> IBAN {{ details.iban }} <span class="green-divider">|</span> BTW nummer {{ details.vatNumber }}
</span>
</body>
</html>