{% extends 'base.html.twig' %}

{% block body %}

    <!-- set variables -->
    {% set date = variables.date %}
    {% set rams = variables.rams %}
    {% set months = variables.ewes %}
    {% set mates = variables.mates %}
    {% set d = variables.document %}

    {% set imagesDirectory = variables.imagesDirectory ~ '/nsfo-logo.png' %}

    {% set pageCounter = 0 %}
    {% set rowsPerPage = 5 %}
    {% set size = mates|length %}
    {% set pageAmount = 1 %}
    {% if size > rowsPerPage %}
        {% set pageAmount = ((size / rowsPerPage) | round(0, 'ceil')) + 1 %}
    {% endif %}

    {% set commentLinesCount = 7 %}

    {% for page in 1..pageAmount %}

    {% if loop.last %}
       <div id="page-without-break">
    {% else %}
        <div id="page">
    {% endif %}


        {# HEADER #}

        <div class="header">

            <div class="ubn">
                [UBN {{ d.ubn }}]
            </div>

            <div class="title">
                {{ "BIRTH_LIST" | trans() | capitalize }}
            </div>

            <div class="nsfo-logo">
                <img alt="nsfo-logo" src="{{ imagesDirectory }}"/>
            </div>
        </div>
        <div class="sub-header">
           <div class="left">{{ d.owner }}, {{ d.address }}, {{ d.postal_code }}, {{ d.city }}</div>
           <div class="right">{{ 'PAGE' | trans | capitalize }} {{ page }} {{ 'PAGE_OF' | trans | lower }} {{ pageAmount }}  &nbsp;&nbsp;&nbsp; {{ 'DATE' | trans | capitalize }}: {{ date }}</div>
        </div>

        {% if not loop.last %}

{# MATES #}
         <table class="tg">
            <thead>
                <tr>
                    <th class="tg-amwm">Halsnr</th>
                    <th class="tg-amwm">Ooi (ULN)</th>
                    <th class="tg-amwm">Gedekt door ram</th>
                    <th class="tg-amwm">Verwachte</th>
                    <th class="tg-amwm">Werkelijke</th>
                    <th class="tg-amwm">Worpgrootte</th>
                    <th class="tg-amwm">Aantal</th>
                    <th class="tg-amwm" colspan="4">Geslacht (O/R)</th>
                </tr>
                <tr>
                    <td class="tg-s6z2 border-bottom-emphasized" rowspan="3">Rascode</td>
                    <td class="tg-amwm"></td>
                    <td class="tg-amwm">(ULN)</td>
                    <td class="tg-amwm">werpdatum</td>
                    <td class="tg-amwm">lamdatum</td>
                    <td class="bottom-bordered-medium tg-amwm border-bottom-emphasized" rowspan="3"></td>
                    <td class="tg-amwm">levend</td>
                    <td class="tg-amwm" colspan="4">Werknummer</td>
                </tr>
                <tr>
                    <td class="bottom-bordered-medium tg-amwm border-bottom-emphasized" rowspan="2"></td>
                    <td class="bottom-bordered-medium tg-amwm border-bottom-emphasized" rowspan="2"></td>
                    <td class="bottom-bordered-medium tg-amwm border-bottom-emphasized" rowspan="2"></td>
                    <td class="bottom-bordered-medium tg-amwm border-bottom-emphasized" rowspan="2"></td>
                    <td class="bottom-bordered-medium tg-amwm border-bottom-emphasized" rowspan="2"></td>
                    <td class="bottom-bordered-thin tg-amwm" colspan="4">Geboortegewicht</td>
              </tr>
              <tr class="border-bottom-emphasized">
                    <td class="tg-amwm">Lam 1</td>
                    <td class="tg-amwm">Lam 2</td>
                    <td class="tg-amwm">Lam 3</td>
                    <td class="tg-amwm">Lam 4</td>
              </tr>
            </thead>
            <tbody>
                {% set beginValue = rowsPerPage * (page - 1) %}
                {% set endValue = beginValue + (rowsPerPage-1) %}
                {% for i in beginValue..endValue %}

                    {% if mates[i] is defined %}
                    {% set v = mates[i] %}
                      <tr class="border-top-emphasized">
                        <td class="tg-amwm">{{ v.ewe_collar }}</td>
                        <td class="tg-1wig">{{ v.ewe_uln_country_code }}{{ v.ewe_uln_number_without_order_number }}<span class="order-number">{{ v.ewe_order_number }}</span></td>
                        <td class="tg-1wig">{{ v.ram_uln }}</td>
                        <td class="tg-1wig">
                            {% if v.is_expected_litter_date_period %}
                                <div class="top-center min_expected_litter_date">{{ v.min_expected_litter_date| date('d-m-Y') }}</div>
                                <div class="lower-center max_expected_litter_date">{{ v.max_expected_litter_date| date('d-m-Y') }}</div>
                            {% else %}
                                <div class="middle-center min_expected_litter_date">{{ v.min_expected_litter_date| date('d-m-Y') }}</div>
                            {% endif %}
                        </td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                      </tr>
                      <tr>
                        <td class="tg-s6z2 border-bottom-emphasized" rowspan="2">TE100</td>
                        <td class="tg-0lax" colspan="6">Geboorteverloop:</td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                      </tr>
                      <tr class="border-bottom-emphasized">
                        <td class="tg-0lax" colspan="6">Opmerking:</td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                        <td class="tg-0lax"></td>
                      </tr>
                    {% endif %}
                {% endfor %}

            </tbody>
        </table>

        {% else %}

            {% set ramsCount = rams|length %}

            {% set ramsData = [] %}
            {% for i in 0..(ramsCount-1) %}
                {% set ramsData = ramsData|merge({('_'~i) :'Aantal dekkingen door ram [' ~ rams[i]['uln'] ~ ']: ' ~ rams[i]['mate_count']}) %}
            {% endfor %}

            <table class="summary-table">
              <tr class="summary-table">
                <th class="summary-table" colspan="3"><h4>Samenvatting Geboortelijst</h4></th>
              </tr>
              <tr class="summary-table">
                <td class="summary-table smt-col-1">Totaal aantal ooien op geboortelijst</td>
                <td class="summary-table smt-col-2">: 10</td>
                <td class="summary-table">{{ ramsCount >= 1 ? ramsData['_0'] : '' }}</td>
              </tr>
              <tr class="summary-table">
                <td class="summary-table smt-col-1">Aantal ooien met worp</td>
                <td class="summary-table smt-col-2">:_____ &nbsp;&nbsp;</td>
                <td class="summary-table">{{ ramsCount >= 2 ? ramsData['_1'] : '' }}</td>
              </tr>
              <tr class="summary-table">
                <td class="summary-table smt-col-1">Totaal geboren lammeren</td>
                <td class="summary-table smt-col-2">:_____ &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td class="summary-table">{{ ramsCount >= 3 ? ramsData['_2'] : '' }}</td>
              </tr>
              <tr class="summary-table">
                <td class="summary-table smt-col-1">Levend geboren lammeren</td>
                <td class="summary-table smt-col-2">:_____</td>
                <td class="summary-table">{{ ramsCount >= 4 ? ramsData['_3'] : '' }}</td>
              </tr>
              <tr class="summary-table">
                <td class="summary-table smt-col-1">Gemiddelde worpgrootte</td>
                <td class="summary-table smt-col-2">:_____</td>
                <td class="summary-table">{{ ramsCount >= 5 ? ramsData['_4'] : '' }}</td>
              </tr>

            {% if ramsCount >= 6 %}
                {% for i in 6..ramsCount %}
                  <tr class="summary-table">
                    <td class="summary-table smt-col-1">&nbsp;</td>
                    <td class="summary-table smt-col-2">&nbsp;</td>
                    <td class="summary-table">{{ ramsData['_'~(i-1)] }}</td>
                  </tr>
                {% endfor %}
            {% endif %}
              <tr class="summary-table" colspan="3">
                <td class="summary-table">&nbsp;</td>
              </tr>
              <tr class="summary-table">
                <td class="summary-table" colspan="3">Opmerkingen &nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-style: italic;">Extra ruimte om opmerkingen te maken, indien u dit niet bij de worp zelf kwijt kunt</span></td>
              </tr>
              {% for i in 1..commentLinesCount %}
              <tr>
                <td class="comment-lines" colspan="3">&nbsp;</td>
              </tr>
              {% endfor %}
            </table>

            {% for i, ram in rams %}


            {% endfor %}

        {% endif %}



    </div>
{% endfor %}

{% endblock %}

{% block stylesheets %}

    <style type="text/css">
        html {
            font-family: Sans-Serif;
            font-stretch: semi-condensed;
        }

        #page-without-break {
            overflow: hidden;
            page-break-after: avoid;
        }

        #page {
            overflow: hidden;
            page-break-after: always;
        }

        .header {
            border-bottom: solid 2px #000;
            font-size: 6mm;
            width: 100%;
        }

        .sub-header {
            padding-top: 1mm;
            font-size: 4.5mm;
        }

        .nsfo-logo {
            display: inline-block;
            width: 10%;
        }

        .nsfo-logo img {
            height: 30px;
        }

        .title {
            display: inline-block;
            vertical-align: top;
            width: 60%;
            font-weight: 700;
            font-size: 7.5mm;
            text-align: center;
        }

        .ubn {
            float: left;
            font-size: 5.5mm;
            font-weight: bold;
            margin-top: 2.5mm;
            width: 22%;
        }

        .order-number {
            font-size: x-large;
        }

        .sub-header .right {
            float: right;
        }

        .sub-header .left {
            float: left;
        }

        .top-center {
          display: block;
          text-align: center;
          vertical-align: top;
        }
        .middle-center {
          display: block;
          text-align: center;
          vertical-align: middle;
        }
        .left-center {
          display: block;
          text-align: left;
          vertical-align: middle;
        }
        .lower-center {
          display: block;
          text-align: center;
          vertical-align: bottom;
        }

        .legend-container .info p span {
            font-weight: 700;
        }

        .legend-container ul {
            position: absolute;
            right: 0;
            padding: 1.5mm;
            background-color: #efe8dd;
        }

        .legend-container ul li {
            list-style: none;
        }

        table {
            width: 100%;
            margin-top: 10mm;
            font-size: 4.1mm;
            border-collapse: collapse;
            vertical-align: text-bottom;
        }

        tr {
            border-bottom: solid 1px #000000;
        }

        td, th {
            text-align: right;
            padding: 1mm 1mm 1mm 1mm;
        }

        table.summary-table {
            width: 100%;
            margin-top: 10mm;
            font-size: 4.1mm;
            border-collapse: collapse;
            vertical-align: text-bottom;
        }

        tr.summary-table {
            border-style: solid;
            border-color: transparent;
        }

        td.summary-table {
            text-align: left;
            border-style: solid;
            border-color: transparent;
            white-space: nowrap;
        }

        td.smt-col-1 {
            width: 1%; /* fit content */
            white-space: nowrap;
        }

        td.smt-col-2 {
            width: 1%; /* fit content */
            white-space: nowrap;
        }

        th.summary-table {
            text-align: left;
        }

        tr td.comment-lines {
            border-bottom-style: solid;
            border-bottom-width: thin;
            border-color: black;
        }

        h4 {
            margin-top: 3rem;
            text-align: left;
        }

        .tg-amwm {
            text-align: center;
            vertical-align: center;
            font-weight: bold;
            border-width: thin;
            border-style: solid;
            border-bottom-color: transparent;
        }

        .bottom-bordered-thin {
            border-bottom-width: thin;
            border-bottom-style: solid;
            border-bottom-color: black;
        }

        .bottom-bordered-medium {
            border-bottom-width: medium;
            border-bottom-style: solid;
            border-bottom-color: black;
        }

        .tg-s6z2 {
            text-align: center;
            vertical-align: center;
            border-width: thin;
            border-width: thin;
            border-style: solid;
        }

        .tg-1wig {
            text-align: left;
            vertical-align: center;
            font-weight: bold;
            border-width: thin;
            border-style: solid;
        }

        .tg-0lax {
            text-align: left;
            vertical-align: center;
            border-width: thin;
            border-style: solid;
        }

        .border-bottom-emphasized {
            border-bottom-width: medium;
        }

        .border-top-emphasized {
            border-top-width: medium;
        }

        .min_expected_litter_date {
            font-size: 4.1mm;
            font-weight: lighter;
        }

        .max_expected_litter_date {
            font-size: 4.1mm;
            font-weight: lighter;
        }

    </style>


{% endblock %}