{% extends 'base.html.twig' %}

{% block bootstrap %}
    {% if displayReportPdfOutputAsHtml %}
        {#<link rel="stylesheet" href='{{ asset('assets/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}'>#}
        <link rel="stylesheet" href="{{ bootstrap_css }}">
    {% else %}
        <link rel="stylesheet" href="{{ bootstrap_css }}">
    {% endif %}
{% endblock %}

{% block body %}

    {% if displayReportPdfOutputAsHtml %}
        {% set fullStar = asset('assets/images/baseline-star-24px.svg') %}
        {% set halfStar = asset('assets/images/baseline-star_half-24px.svg') %}
        {% set emptyStar = asset('assets/images/baseline-star_border-24px.svg') %}
        {#{% set logoPath = asset('assets/images/nsfo-logo@2x.png') %}#}

        {% set logoPath = images_dir~'/nsfo-logo@2x.png' %}
    {% else %}
        {% set fullStar = images_dir~'/baseline-star-24px.svg' %}
        {% set halfStar = images_dir~'/baseline-star_half-24px.svg' %}
        {% set emptyStar = images_dir~'/baseline-star_border-24px.svg' %}
        {% set logoPath = images_dir~'/nsfo-logo@2x.png' %}
    {% endif %}

    {% for animal in variables %}

        <div class="container p-2">

            {# calc averages #}
            {% set offspringCount = animal.offspring|length %}
            {% set totalBirthWeight = 0 %}
            {% set totalWeaningWeight = 0 %}
            {% set totalDeliveryWeight = 0 %}
            {% set totalAverageGrowth = 0 %}
            {% set totalSaldo = 0 %}
            {% set totalPricePerKg = 0 %}

            {% for offspring in animal.offspring %}
                {% set totalBirthWeight = totalBirthWeight + offspring.birth_weight|number_format(2) %}
                {% set totalWeaningWeight = totalWeaningWeight + offspring.weaning_weight|number_format(2) %}
                {% set totalDeliveryWeight = totalDeliveryWeight + offspring.delivery_weight|number_format(2) %}
                {% set totalAverageGrowth = totalAverageGrowth + offspring.average_growth|number_format(2) %}
                {% set totalSaldo = totalSaldo + offspring.saldo|number_format(2) %}
                {% set totalPricePerKg = totalPricePerKg + offspring.price_per_kg|number_format(2) %}
            {% endfor %}

            {% set maxRowsPage1 = 28 %}


            {# HEADER INFO #}
            {% set vars = {
                'animal' : animal
            } %}
            {% embed "/Report/ewe_cards_parts/header_info.html.twig" with vars %}
            {% endembed %}

            {# MAIN ANIMAL DETAIL #}
            {% set vars = {
                'animal' : animal
            } %}
            {% embed "/Report/ewe_cards_parts/main_animal_detail.html.twig" with vars %}
            {% endembed %}

            {# OFFSPRINGS PAGE 1 #}
            {% set vars = {
                'animal' : animal,
                'showAverage' : offspringCount < maxRowsPage1,
                'offspringCount' : offspringCount,
                'totalBirthWeight' : totalBirthWeight,
                'totalWeaningWeight' : totalWeaningWeight,
                'totalDeliveryWeight' : totalDeliveryWeight,
                'totalAverageGrowth' : totalAverageGrowth,
                'totalSaldo' : totalSaldo,
                'totalPricePerKg' : totalPricePerKg,
                'maxRowsPage1' : maxRowsPage1,
            } %}
            {% embed "/Report/ewe_cards_parts/offsprings_page_1.html.twig" with vars %}
            {% endembed %}
        </div>

        {# NEXT PAGE BREAK #}
        <div style="page-break-after: always"></div>

        <div class="container p-2">

            {# SUB INFO #}
            {% set vars = {
                'animal' : animal
            } %}
            {% embed "/Report/ewe_cards_parts/sub_info_page_2.html.twig" with vars %}
            {% endembed %}

            {% if offspringCount > maxRowsPage1 %}
                {# OFFSPRINGS PAGE 2 #}
                {% set vars = {
                    'animal' : animal,
                    'offspringCount' : offspringCount,
                    'totalBirthWeight' : totalBirthWeight,
                    'totalWeaningWeight' : totalWeaningWeight,
                    'totalDeliveryWeight' : totalDeliveryWeight,
                    'totalAverageGrowth' : totalAverageGrowth,
                    'totalSaldo' : totalSaldo,
                    'totalPricePerKg' : totalPricePerKg,
                    'maxRowsPage1' : maxRowsPage1
                } %}
                {% embed "/Report/ewe_cards_parts/offsprings_page_2.html.twig" with vars %}
                {% endembed %}
            {% endif %}

            {# TREATMENTS #}
            {% set vars = {
                'animal' : animal,
                'showBorderTop' : offspringCount < maxRowsPage1
            } %}
            {% embed "/Report/ewe_cards_parts/treatment_info.html.twig" with vars %}
            {% endembed %}

        </div>

        {# NEXT PAGE BREAK #}
        <div style="page-break-after: always"></div>

    {% endfor %}

{% endblock %}


{% block javascripts %}
    {% if displayReportPdfOutputAsHtml %}
        <script src="{{  asset('assets/bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>
    {% else %}
        <script src="{{  bootstrap_js }}"></script>
    {% endif %}
{% endblock %}


{% block stylesheets %}
    <style>
        .bg-green {
            background-color: #009E66;
        }

        .bg-white-stripe {
            background-color: white;
            min-height: 15.5px;
            max-height: 15.5px;
            overflow: hidden;
        }

        .bg-gray {
            background-color: #EDEDEE;
        }

        .table.border-0 td, .table.border-0 th {
            border: none;
        }

        .table.px-0 td, .table.px-0 th {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .table.py-0 td, .table.py-0 th {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
        }

        .height-0 {
            margin: 0;
            opacity: 0;
            height: 0;
            line-height: 0
        }

        .w-100 {
            width: 100%;
        }

        .col-25 {
            width: 24%;
            float: left;
        }

        .px-1 {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }

        .px-2 {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }

        .px-3 {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        .px-4 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .py-1 {
            padding-top: 3px !important;
            padding-bottom: 5px !important;
        }

        .py-2 {
            padding-top: 6px !important;
            padding-bottom: 10px !important;
        }

        .py-4 {
            padding-top: 12px !important;
            padding-bottom: 20px !important;
        }

        .pt-4 {
            padding-top: 12px !important;
        }

        .pr-1 {
            padding-right: 5px !important;
        }

        .pr-2 {
            padding-right: 10px !important;
        }

        .pr-3 {
            padding-right: 15px !important;
        }

        .pl-1 {
            padding-left: 5px !important;
        }

        .pl-7px {
            padding-left: 7px !important;
        }

        .pl-2 {
            padding-left: 10px !important;
        }

        .pl-13px {
            padding-left: 12.5px !important;
        }

        .pl-3 {
            padding-left: 15px !important;
        }

        .pl-4 {
            padding-left: 20px !important;
        }

        .pl-5 {
            padding-left: 25px !important;
        }

        .mb-1 {
            margin-bottom: 3px !important;
        }

        .mb-2 {
            margin-bottom: 6px !important;
        }

        .mb-3 {
            margin-bottom: 9px !important;
        }

        .mb-4 {
            margin-bottom: 12px !important;
        }

        .mb-5 {
            margin-bottom: 15px !important;
        }

        .mb-6 {
            margin-bottom: 18px !important;
        }

        .mb-7 {
            margin-bottom: 21px !important;
        }

        .mb-8 {
            margin-bottom: 24px !important;
        }

        .mt-2 {
            margin-top: 6px !important;
        }

        .mt-3 {
            margin-top: 9px !important;
        }

        .mt-4 {
            margin-top: 12px !important;
        }

        .my-0 {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        .ml-1 {
            margin-left: 5px !important;
        }

        .mr-1 {
            margin-right: 5px !important;
        }

        .move-left {
            -webkit-transform: translateX(-20px);
            -ms-transform: translateX(-20px);
            transform: translateX(-20px);
        }

        .rounded {
            border-radius: 8px !important;
        }

        .rounded-top {
            border-radius: 8px 8px 0 0 !important;
        }

        .rounded-bottom {
            border-radius: 0 0 8px 8px !important;
        }

        .bordered {
            border: 1px solid black;
        }

        .border-top-0 {
            border-top: none;
        }

        .border-top-1 {
            border-top: 1px solid black;
        }

        .border-bottom-1 {
            border-bottom: 1px solid black;
        }

        .inner-bordered {
            box-shadow: 0 0 0 2px #009E66 inset;
        }

        .display-inline {
            display: inline;
        }

        h1 {
            font-family: 'opensans';
            font-size: 25px;
        }

        h2 {
            font-family: 'Myriad Pro';
            font-size: 14px;
        }

        h3 {
            font-family: 'brandonGrotesqueMedium';
            font-size: 13px;
        }

        h4 {
            font-family: 'crimson-text-roman';
            font-size: 10px;
        }

        .blockHeader {
            padding-left: 7px;
            background-color: #AFDECB;
            max-height: 16px;
            font-family: 'brandonGrotesqueMedium';
            font-size: 13px;
            color: #009E66;
        }

        .blockHeader-alt {
            background-color: #AFDECB;
            max-height: 16px;
            font-family: 'brandonGrotesqueMedium';
            font-size: 13px;
            color: #009E66;
        }

        .footer {
            padding-top: 2px;
            white-space: nowrap;
            font-family: 'crimson-text-roman';
            font-size: 9.5px;
            color: #009E66;
            max-height: 15px;
        }

        .fieldName {
            padding-left: 7px;
            padding-top: 2px;
            font-family: 'crimson-text-roman';
            font-size: 11.3px;
            color: #009E66;
            max-height: 15px;
        }

        .fieldValue {
            font-family: 'opensans';
            font-size: 11px;
            color: black;
        }

        .explanationsText {
            padding-left: 7px;
            font-family: 'crimson-text-roman';
            font-size: 12px;
            color: #009E66;
        }

        .star {
            height: 15px;
        }

        .star-compact {
            height: 15px;
            margin-right: -4px;
        }

        /* Somehow this is needed to align the stars row correctly */
        .stars {
            -webkit-transform: translateY(-20%);
            -ms-transform: translateY(-20%);
            transform: translateY(-20%);
        }

        .cross {
            position: absolute;
            top: 48%;
            left: 50%;
            background-color: #009E66;
        }

        .cross-wrapper {
            position: relative;
        }

        .cross-horizontal {
            width: 50px;
            height: 2px;
            top: 27px;
            left: 50%;
            position: absolute;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #009E66;
        }

        .cross-verticle {
            width: 2px;
            height: 50px;
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #009E66;
        }

        .mh-15 {
            max-height: 15px;
        }

        .minh-16 {
            min-height: 16px;
        }

        .ontop-3 {
            position: absolute;
            height: 9px;
            width: 6px;
            top: -9px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #009E66;
        }

        .ontop-4 {
            position: absolute;
            height: 12px;
            width: 6px;
            top: -12px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            background-color: #009E66;
        }

        {% if displayReportPdfOutputAsHtml %}
        @font-face {
            font-family: 'brandonGrotesqueBlack';
            src:url({{ asset('assets/fonts/brandonGrotesque/brandongrotesque-black-webfont.woff2') }}) format('woff2'),
            url({{ asset('assets/fonts/brandonGrotesque/brandongrotesque-black-webfont.woff') }}) format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'brandonGrotesqueMedium';
            src:url({{ asset('assets/fonts/brandonGrotesque/brandongrotesque-medium-webfont.woff2') }}) format('woff2'),
            url({{ asset('assets/fonts/brandonGrotesque/brandongrotesque-medium-webfont.woff') }}) format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'opensans';
            src:url({{ asset('assets/fonts/opensans/opensans-webfont.woff2') }}) format('woff2'),
            url({{ asset('assets/fonts/opensans/opensans-webfont.woff') }}) format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'opensans';
            src:url({{ asset('assets/fonts/opensans/opensans-bold-webfont.woff2') }}) format('woff2'),
            url({{ asset('assets/fonts/opensans/opensans-bold-webfont.woff') }}) format('woff');
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'crimson-text-roman';
            src:url({{ asset('assets/fonts/crimsonTextRoman/CrimsonText-Roman.ttf') }}) format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Myriad Pro';
            src: url({{ asset('assets/fonts/myriadPro/MyriadPro-Bold.woff2') }}) format('woff2'),
            url({{ asset('assets/fonts/myriadPro/MyriadPro-Bold.woff') }}) format('woff');
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'Myriad Pro';
            src: url({{ asset('assets/fonts/myriadPro/MyriadPro-BlackSemiCn.woff2') }}) format('woff2'),
            url({{ asset('assets/fonts/myriadPro/MyriadPro-BlackSemiCn.woff') }}) format('woff');
            font-weight: 900;
            font-style: normal;
        }
        {% else %}
        @font-face {
            font-family: 'brandonGrotesqueBlack';
            src:url({{ fonts_dir~'/brandonGrotesque/brandongrotesque-black-webfont.woff2' }}) format('woff2'),
            url({{ fonts_dir~'/brandonGrotesque/brandongrotesque-black-webfont.woff' }}) format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'brandonGrotesqueMedium';
            src:url({{ fonts_dir~'/brandonGrotesque/brandongrotesque-medium-webfont.woff2' }}) format('woff2'),
            url({{ fonts_dir~'/brandonGrotesque/brandongrotesque-medium-webfont.woff' }}) format('woff');
        url({{ fonts_dir~'/brandonGrotesque/brandongrotesque-medium-webfont.ttf' }}) format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'opensans';
            src:url({{ fonts_dir~'/opensans/opensans-webfont.woff2' }}) format('woff2'),
            url({{ fonts_dir~'/opensans/opensans-webfont.woff' }}) format('woff');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'opensans';
            src:url({{ fonts_dir~'/opensans/opensans-bold-webfont.woff2' }}) format('woff2'),
            url({{ fonts_dir~'/opensans/opensans-bold-webfont.woff' }}) format('woff');
        url({{ fonts_dir~'/opensans/opensans-bold-webfont.ttf' }}) format('truetype');
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'crimson-text-roman';
            src:url({{ fonts_dir~'/crimsonTextRoman/CrimsonText-Roman.ttf' }}) format('truetype');
            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'Myriad Pro';
            src: url({{ fonts_dir~'/myriadPro/MyriadPro-Bold.woff2' }}) format('woff2'),
            url({{ fonts_dir~'/myriadPro/MyriadPro-Bold.woff' }}) format('woff');
            font-weight: bold;
            font-style: normal;
        }

        @font-face {
            font-family: 'Myriad Pro';
            src: url({{ fonts_dir~'/myriadPro/MyriadPro-BlackSemiCn.woff2' }}) format('woff2'),
            url({{ fonts_dir~'/myriadPro/MyriadPro-BlackSemiCn.woff' }}) format('woff');
            font-weight: 900;
            font-style: normal;
        }
        {% endif %}

        /* Always insert a page break after each <footer> element (when printing) */
        /*@media print {*/
        /*footer {page-break-after: always;}*/
        /*}*/

    </style>
{% endblock %}
