{% extends 'base.html.twig' %}

{% block body %}

    <!-- set variables -->
    {% set date = variables.date %}
    {% set values = variables.values %}
    {% set ubn = variables.ubn %}
    {% set footnote = variables.footnote %}
    {% set columnHeaders = variables.columnHeaders %}

    {% set imagesDirectory = variables.imagesDirectory ~ '/nsfo-logo.png' %}

    {# HEADER #}

    <div id="page-without-break">

        <div class="header">
            <div class="nsfo-logo">
                <img src="{{ imagesDirectory }}"/>
            </div>
            <div class="title">
                {{ "FERTILIZER_ACCOUNTING" | trans() }}
            </div>

            <div class="ubn">
                UBN {{ ubn }}
            </div>
        </div>
        <div class="sub-header">
           <div class="left"> {{ 'GENERATED ON'|trans()|lower }}: {{ date }}</div>
           <div class="right"> {{ 'REFERENCE DATE'|trans()|lower }}: {{ variables.referenceDate }} </div>
        </div>

       {# MONTHS #}

        <h4>
            {{ variables.animalCountsByCategoryHeader }}
        </h4>

        <table class="reference-date-table">
            <thead>
                <tr>
                    <th>{{ columnHeaders.referenceDate }}</th>
                    <th>550</th>
                    <th>551</th>
                    <th>552</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ values.month_1 }}</td>
                    <td>{{ values.category_550_month_1_count }}</td>
                    <td>{{ values.category_551_month_1_count }}</td>
                    <td>{{ values.category_552_month_1_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_2 }}</td>
                    <td>{{ values.category_550_month_2_count }}</td>
                    <td>{{ values.category_551_month_2_count }}</td>
                    <td>{{ values.category_552_month_2_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_3 }}</td>
                    <td>{{ values.category_550_month_3_count }}</td>
                    <td>{{ values.category_551_month_3_count }}</td>
                    <td>{{ values.category_552_month_3_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_4 }}</td>
                    <td>{{ values.category_550_month_4_count }}</td>
                    <td>{{ values.category_551_month_4_count }}</td>
                    <td>{{ values.category_552_month_4_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_5 }}</td>
                    <td>{{ values.category_550_month_5_count }}</td>
                    <td>{{ values.category_551_month_5_count }}</td>
                    <td>{{ values.category_552_month_5_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_6 }}</td>
                    <td>{{ values.category_550_month_6_count }}</td>
                    <td>{{ values.category_551_month_6_count }}</td>
                    <td>{{ values.category_552_month_6_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_7 }}</td>
                    <td>{{ values.category_550_month_7_count }}</td>
                    <td>{{ values.category_551_month_7_count }}</td>
                    <td>{{ values.category_552_month_7_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_8 }}</td>
                    <td>{{ values.category_550_month_8_count }}</td>
                    <td>{{ values.category_551_month_8_count }}</td>
                    <td>{{ values.category_552_month_8_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_9 }}</td>
                    <td>{{ values.category_550_month_9_count }}</td>
                    <td>{{ values.category_551_month_9_count }}</td>
                    <td>{{ values.category_552_month_9_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_10 }}</td>
                    <td>{{ values.category_550_month_10_count }}</td>
                    <td>{{ values.category_551_month_10_count }}</td>
                    <td>{{ values.category_552_month_10_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_11 }}</td>
                    <td>{{ values.category_550_month_11_count }}</td>
                    <td>{{ values.category_551_month_11_count }}</td>
                    <td>{{ values.category_552_month_11_count }}</td>
                </tr>
                <tr>
                    <td>{{ values.month_12 }}</td>
                    <td>{{ values.category_550_month_12_count }}</td>
                    <td>{{ values.category_551_month_12_count }}</td>
                    <td>{{ values.category_552_month_12_count }}</td>
                </tr>
            </tbody>
        </table>


        <h4>
            {{ variables.totalHeader }}
        </h4>


        <table class="overview-table">
            <thead>
            <tr>
                <th>{{ columnHeaders.animalCategory }}</th>
                <th>{{ columnHeaders.animalCount }}</th>
                <th>{{ columnHeaders.nitrogen }} (kg)</th>
                <th>{{ columnHeaders.phosphate }} (kg)</th>
            </tr>
            </thead>
            <tbody>

                <tr>
                    <td>550</td>
                    <td>{{ values.yearly_550_average }}</td>
                    <td>{{ values.yearly_550_nitrogen_kg }}</td>
                    <td>{{ values.yearly_550_phosphate_kg }}</td>
                </tr>
                <tr>
                    <td>551</td>
                    <td>{{ values.yearly_551_average }}</td>
                    <td>{{ values.yearly_551_nitrogen_kg }}</td>
                    <td>{{ values.yearly_551_phosphate_kg }}</td>
                </tr>
                <tr>
                    <td>552</td>
                    <td>{{ values.yearly_552_average }}</td>
                    <td>{{ values.yearly_552_nitrogen_kg }}</td>
                    <td>{{ values.yearly_552_phosphate_kg }}</td>
                </tr>

            </tbody>
        </table>

        <hr>

        <div>
            <h3 class="category-title">Toelichting diercategorieën</h3>
            <div class="category-description">
                <h4>Diercategorie 550</h4>
                <p>Schapen voor de vlees- en melkproductie
                    (alle vrouwelijke schapen die ten minste eenmaal hebben gelammerd,
                    inclusief alle schapen tot ca. 4 maanden, voor zover gehouden
                    op het bedrijf waar deze schapen geboren zijn en rammen van minimaal 1 jaar oud).</p>
            </div>
            <div class="category-description">
                <h4>Diercategorie 551</h4>
                <p>Vleesschapen tot ca. 4 maanden, gehouden op bedrijven waar ze niet zijn geboren.</p>
            </div>
            <div class="category-description">
                <h4>Diercategorie 552</h4>
                <p>Alle dieren (opfokooien, weideschapen en vleesschapen) van ca. 4 maanden en ouder die niet in categorie 550 of 551 vallen.</p>
            </div>

        </div>
        <div class="info">
            <p>{{ variables.footnote }}</p>
        </div>

    </div>

{% endblock %}

{% block stylesheets %}

    <style type="text/css">
        html {
            font-family: Sans-Serif;
            font-stretch: semi-condensed;
        }

        #page-without-break {
            overflow: hidden;
            page-break-after: avoid;
        }

        .header {
            border-bottom: solid 2px #000;
            font-size: 6mm;
            width: 100%;
            margin-top: 2rem;
        }

        .nsfo-logo {
            display: inline-block;
            width: 25%;
        }

        .nsfo-logo img {
            height: 30px;
        }

        .title {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            font-weight: 700;
            font-size: 7.5mm;
            text-align: center;
        }

        .ubn {
            float: right;
            font-size: 5.5mm;
            font-weight: bold;
            margin-top: 2.5mm;
        }

        .sub-header {
            padding-top: 1mm;
            font-size: 4.5mm;
        }

        .sub-header .left {
            float: left;
        }

        .sub-header .right {
            float: right;
            font-weight: bold;
        }

        .info {
            left: 6cm;
            margin-top: 50px;
            width: 100%;
        }

        .category-title {
            text-align: center;
        }

        .category-description {
            left: 6cm;
            width: 100%;
            margin-top: 0px;
        }

        .category-description h4 {
            line-height: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .legend-container .info p span {
            font-weight: 700;
        }

        .legend-container ul {
            position: absolute;
            right: 0;
            padding: 1.5mm;
            background-color: #efe8dd;
        }

        .legend-container ul li {
            list-style: none;
        }

        table {
            width: 100%;
            margin-top: 10mm;
            font-size: 4.1mm;
            border-collapse: collapse;
            vertical-align: text-bottom;
        }

        table.reference-date-table {
            margin: 10mm auto 25mm auto;
            width: 40%;
        }

        table.overview-table {
            margin: 10mm auto 25mm auto;
            width: 60%;
        }

        tr {
            border-bottom: solid 1px #000000;
        }

        td, th {
            text-align: right;
            padding: 1mm 1mm 1mm 1mm;
        }

        h4 {
            margin-top: 3rem;
            text-align: center;
        }

    </style>


{% endblock %}