{% extends 'base.html.twig' %}

{% block body %}

    {% set doubleSpace = '&nbsp; &nbsp;' %}

    {% set counter = 0 %}
    {% set rowsPerPage = 31 %}
    {% set date = variables.date %}
    {% set colorCells = variables.colorCells %}
    {% set hasRamsCollar = variables.hasRamsCollar %}
    {% set ewesCount = variables.ewes|length %}
    {% set imagesDirectory = variables.imagesDirectory ~ '/nsfo-logo.png' %}
    {% set coefficientDecimalAccuracy = 1 %}

    {% set currentPage = 1 %}
    {% set pageAmount = 1 %}
    {% if ewesCount > rowsPerPage %}
        {% set pageAmount = ((ewesCount / rowsPerPage) | round(0, 'ceil')) %}
    {% endif %}

    {% set hasRam2 = variables.hasRam2 %}
    {% set hasRam3 = variables.hasRam3 %}
    {% set hasRam4 = variables.hasRam4 %}
    {% set hasRam5 = variables.hasRam5 %}

    {# HEADER #}

    {% embed "/Report/inbreeding_coefficient_report_parts/header.html.twig" with variables %}
    {% endembed %}

    {# END OF HEADER #}

    {% for key,value in variables.ewes %}

     {#SET VALUES #}

        {% set uln = key %}
        {% set ewe = value %}

        {% if ewe['pedigree'] is defined %}
            {% set ewePedigree = ewe.pedigree %}
        {% else %}
            {% set ewePedigree = '' %}
        {% endif %}

        {% if ewe['collar'] is defined %}
            {% set eweCollar = ewe.collar %}
        {% else %}
            {% set eweCollar = '' %}
        {% endif %}

        {% if ewe['inbreedingCoefficient'] is defined %}
            {% set eweInbreedingCoefficient1 = ewe.inbreedingCoefficient.1 * 100 %}
            {% set eweInbreedingCoefficient1color = ewe.color.1 %}

            {% if hasRam2 %}
                {% set eweInbreedingCoefficient2 = ewe.inbreedingCoefficient.2 * 100 %}
                {% set eweInbreedingCoefficient2color = ewe.color.2 %}
            {% endif %}

            {% if hasRam3 %}
                {% set eweInbreedingCoefficient3 = ewe.inbreedingCoefficient.3 * 100 %}
                {% set eweInbreedingCoefficient3color = ewe.color.3 %}
            {% endif %}

            {% if hasRam4 %}
                {% set eweInbreedingCoefficient4 = ewe.inbreedingCoefficient.4 * 100 %}
                {% set eweInbreedingCoefficient4color = ewe.color.4 %}
            {% endif %}

            {% if hasRam5 %}
                {% set eweInbreedingCoefficient5 = ewe.inbreedingCoefficient.5 * 100 %}
                {% set eweInbreedingCoefficient5color = ewe.color.5 %}
            {% endif %}

        {% else %}
            {% set eweInbreedingCoefficient1 = '' %}
        {% endif %}

        {% if counter is divisible by (rowsPerPage) %}

         {#COLUMN HEADER #}
         <table class="single-table">
            <tr>
                <td class="ewe-table-col-default">Ooi ULN</td>
                <td class="ewe-table-col-default">Ooi STN</td>
                <td class="ewe-table-col-default">Halsnummer</td>
                <td class="ewe-table-header-col-ram">Ram 1</td>
                {% if hasRam2 %}
                    <td class="ewe-table-header-col-ram">Ram 2</td>
                {% endif %}
                {% if hasRam3 %}
                    <td class="ewe-table-header-col-ram">Ram 3</td>
                {% endif %}
                {% if hasRam4 %}
                    <td class="ewe-table-header-col-ram">Ram 4</td>
                {% endif %}
                {% if hasRam5 %}
                    <td class="ewe-table-header-col-ram">Ram 5</td>
                {% endif %}
            </tr>
        {% endif %}

         {#ROW DATA #}

            <tr>
                <td class="ewe-table-col-default">{{ uln }}</td>
                <td class="ewe-table-col-default">{{ ewePedigree }}</td>
                <td class="ewe-table-col-default">{{ eweCollar }}</td>

                {% if eweInbreedingCoefficient1color == 'GREEN' %}
                    {% if colorCells %}
                        <td class="ic-values-col green-cell">
                    {% else %}
                        <td class="ic-values-col">
                    {% endif %}
                    <div class="green-values">
                {% elseif eweInbreedingCoefficient1color == 'ORANGE' %}
                    {% if colorCells %}
                        <td class="ic-values-col orange-cell">
                    {% else %}
                        <td class="ic-values-col">
                    {% endif %}
                    <div class="orange-values">
                {% elseif eweInbreedingCoefficient1color == 'RED' %}
                    {% if colorCells %}
                        <td class="ic-values-col red-cell">
                    {% else %}
                        <td class="ic-values-col">
                    {% endif %}
                    <div class="red-values">
                {% elseif eweInbreedingCoefficient1color == 'GREY' %}
                <td class="ic-values-col">
                    <div class="grey-values">
                {% else %}
                <td class="ic-values-col">
                    <div>
                {% endif %}
                    {{ eweInbreedingCoefficient1|number_format(coefficientDecimalAccuracy,'.',',') }}%
                    </div>
                </td>
                {% if hasRam2 %}
                    {% if eweInbreedingCoefficient2color == 'GREEN' %}
                        {% if colorCells %}
                            <td class="ic-values-col green-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="green-values">
                    {% elseif eweInbreedingCoefficient2color == 'ORANGE' %}
                        {% if colorCells %}
                            <td class="ic-values-col orange-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="orange-values">
                    {% elseif eweInbreedingCoefficient2color == 'RED' %}
                        {% if colorCells %}
                            <td class="ic-values-col red-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="red-values">
                    {% elseif eweInbreedingCoefficient2color == 'GREY' %}
                        <td class="ic-values-col">
                        <div class="grey-values">
                    {% else %}
                        <td class="ic-values-col">
                        <div>
                    {% endif %}
                        {{ eweInbreedingCoefficient2|number_format(coefficientDecimalAccuracy,'.',',') }}%
                        </div>
                    </td>
                {% endif %}
                {% if hasRam3 %}
                    {% if eweInbreedingCoefficient3color == 'GREEN' %}
                        {% if colorCells %}
                            <td class="ic-values-col green-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="green-values">
                    {% elseif eweInbreedingCoefficient3color == 'ORANGE' %}
                        {% if colorCells %}
                            <td class="ic-values-col orange-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="orange-values">
                    {% elseif eweInbreedingCoefficient3color == 'RED' %}
                        {% if colorCells %}
                            <td class="ic-values-col red-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="red-values">
                    {% elseif eweInbreedingCoefficient3color == 'GREY' %}
                        <td class="ic-values-col">
                        <div class="grey-values">
                    {% else %}
                        <td class="ic-values-col">
                        <div>
                    {% endif %}
                        {{ eweInbreedingCoefficient3|number_format(coefficientDecimalAccuracy,'.',',') }}%
                        </div>
                    </td>
                {% endif %}
                {% if hasRam4 %}
                    {% if eweInbreedingCoefficient4color == 'GREEN' %}
                        {% if colorCells %}
                            <td class="ic-values-col green-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="green-values">
                    {% elseif eweInbreedingCoefficient4color == 'ORANGE' %}
                        {% if colorCells %}
                            <td class="ic-values-col orange-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="orange-values">
                    {% elseif eweInbreedingCoefficient4color == 'RED' %}
                        {% if colorCells %}
                            <td class="ic-values-col red-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="red-values">
                    {% elseif eweInbreedingCoefficient4color == 'GREY' %}
                        <td class="ic-values-col">
                        <div class="grey-values">
                    {% else %}
                        <td class="ic-values-col">
                        <div>
                    {% endif %}
                        {{ eweInbreedingCoefficient4|number_format(coefficientDecimalAccuracy,'.',',') }}%
                        </div>
                    </td>
                {% endif %}
                {% if hasRam5 %}
                    {% if eweInbreedingCoefficient5color == 'GREEN' %}
                        {% if colorCells %}
                            <td class="ic-values-col green-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="green-values">
                    {% elseif eweInbreedingCoefficient5color == 'ORANGE' %}
                        {% if colorCells %}
                            <td class="ic-values-col orange-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="orange-values">
                    {% elseif eweInbreedingCoefficient5color == 'RED' %}
                        {% if colorCells %}
                            <td class="ic-values-col red-cell">
                        {% else %}
                            <td class="ic-values-col">
                        {% endif %}
                        <div class="red-values">
                    {% elseif eweInbreedingCoefficient5color == 'GREY' %}
                        <td class="ic-values-col">
                        <div class="grey-values">
                    {% else %}
                        <td class="ic-values-col">
                        <div>
                    {% endif %}
                        {{ eweInbreedingCoefficient5|number_format(coefficientDecimalAccuracy,'.',',') }}%
                        </div>
                    </td>
                {% endif %}

            </tr>

        {% set counter = counter + 1 %}

         {#END OF TABLE#}
        {% if (counter is divisible by (rowsPerPage)) or (loop.last == true) %}
            </table>
         </div>

         <div class="page-metadata">
             {{ 'PAGE' | trans | capitalize }} {{ currentPage }} {{ 'PAGE_OF' | trans | lower }} {{ pageAmount }}
         </div>

        {% endif %}

     {#BREAK TO NEW PAGE: WITH HEADER ON NEW PAGE#}

        {% if counter is divisible by (rowsPerPage) and loop.last == false %}

            {#necessary to enforce a pagebreak using css#}
        <footer></footer>

            {% set currentPage = currentPage + 1 %}

            {% embed "/Report/inbreeding_coefficient_report_parts/header.html.twig" with variables %}
            {% endembed %}

        {% endif %}

    {% endfor %}

{% endblock %}

{% block stylesheets %}

    <style type="text/css">
        h2 {
            text-align: center;
            font-family:SansSerif, sans-serif;
            font-size:22px
        }
        p {
            text-align: center;
            font-family:SansSerif, sans-serif;
            font-size:14px;
            margin-bottom: 18px
        }

        .nsfo-logo {
            margin-top: 1.0cm;
            margin-bottom: 0.5cm;
            text-align: center;
            align-content: center;
        }

        .nsfo-logo img {
            height: 50px;
        }

        table, td {
            font-family:SansSerif, sans-serif;
            font-size:14px;
            font-weight:normal;
            border-collapse:collapse;
            border-spacing:0;
            border-style:solid;
            border-width:1px;
            overflow:hidden;
            word-break:normal;
        }

        td {
            padding: 6px;
        }

        th {
            padding:10px 5px;
        }

        .page-metadata {
            text-align: center;
            padding: 15mm 0 0;
            align-content: center;
        }

        /* this centers the table on the page */
        .single-table {
            /*float: left;*/
            /*display: inline-block;*/
            margin:0px auto;
        }

        .rams-table  {
            border-collapse:collapse;
            border-spacing:0;
            margin:0px auto 20px;
        }
        .rams-table td{
            border-color:black;
            border-style:solid;
            border-width:1px;
            font-family:Arial, sans-serif;
            font-size:14px;
            overflow:hidden;
            padding:2px 10px;
            word-break:normal;
        }
        .rams-table th{
            border-color:black;
            border-style:solid;
            border-width:1px;
            font-family:Arial, sans-serif;
            font-size:14px;
            font-weight:normal;
            overflow:hidden;
            padding:2px 10px;
            word-break:normal;
        }
        .rams-table .rams-table-zv4m{
            border-color:#ffffff;
            text-align:left;
            vertical-align:top
        }
        .rams-table .rams-table-zv4k{
            border-color:#ffffff;
            text-align:center;
            vertical-align:top;
        }

        .ewe-table-header-col-ram{
            text-align:right;
            vertical-align:center;
        }

        .ewe-table-col-default{
            vertical-align:top;
            color: black;
            overflow: hidden;
        }

        .ic-values-col{
            text-align:right;
            vertical-align:center;
        }

        .grey-values{
            color: #7D7D7D;
        }

        .green-cell{
            background-color: #d4fad4;
        }

        .green-values{
            color: #005816;
        }

        .orange-cell{
            background-color: #fde1d0;
        }

        .orange-values{
            color: #a14b00;
        }

        .red-cell{
            background-color: #ff9a9a;
        }

        .red-values{
            color: #780000;
        }

        /* Always insert a page break after each <footer> element (when printing) */
        @media print {
            footer {page-break-after: always;}
        }

    </style>

{% endblock %}
